
<div class="col-md-12" id="mypage">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <img class="mylogo" src="images/mykdrpng.png" href="#" alt="mykoduvayur" />
                <label class="mylogocap" href="#">MYKODUVAYUR</label>
                <label ng-click="opened()" class="mymenuglyph"><i class="fa fa-bars"></i></label>

            </div>

            <ul id="mykdr_menu">
                <li ng-click="closed()" id="closenav"><i class="fa fa-close"></i></li>
                <li id="home" ><a href="#"><i class="fa fa-home"></i> HOME</a></li>
                <li id="landscape"><a href="#landscape"><i class="fa fa-map"></i> LANDSCAPE</a></li>
                <li id="culture"><a href="#culture"><i class="fa fa-bell"></i> CULTURE</a></li>
                <li id="services"><a href="#services"><i class="fa fa-rupee"></i> SERVICES</a></li>
                <li id="events"><a href="#events"><i class="fa fa-calendar"></i> EVENTS</a></li>
                <li id="trending"><a href="#trending"><i class="fa fa-hashtag"></i> TRENDING</a></li>
                <li id="people"><a href="#people"><i class="fa fa-users"></i> PEOPLE</a></li>
                <li id="emergency"><a href="#emergency"><i class="fa fa-plus-square"></i> EMERGENCY </a></li>
                <li id="contact"><a href="#contact"><i class="fa fa-universal-access"></i> ABOUT US</a></li>
            </ul>


        </div>

    </nav>

    <div class="col-md-12" id="non-nav">

        <img class="pagebanner" src="./images/covers/events.jpg" />

        <div class="col-md-12">

            <h1>hey</h1>
            <h2>inga</h2>
            <h3>paaru</h3>
            <h4>kootu</h4>
            <h5>joru</h5>
        </div>

    </div>

</div>
